:root {
	/*COLOR*/
	--bg: #232323;
	--text: #909079;
	--line: #909079;

	--snakeHead: #B6FF00;
	--snakeBody: #61EAA0;
	--food: #980B10;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	background-color: var(--bg);
}

#containerGame {
	width: 100vw;
	height: 100vh;

	margin: 0 auto;

	color: var(--text);
}

#boxInfo {
	width: 100%;
	height: 10%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background-color: var(--bg);
}

#boxGame {
	margin: 0 auto;

	width: 100vw;
	height: 100vw;
	max-width: 80vh;
	max-height: 80vh;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;

	background-color: var(--bg);
}

.squareEmpty {
	width: 5%;
	height: 5%;

	font-size: 0.9em;

	border: 0.1em var(--line) solid;
}

.squareBorder {
	color: var(--bg);

	background-color: var(--line);
}

#boxControl {
	width: 100%;
	height: 10%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background-color: var(--bg);
}

#scoreInfo p {
	font-size: 4vh;
	text-transform: uppercase;
	font-weight: 700;
}

.button {
	min-width: 15vw;
	height: 8vh;

	background-color: var(--bg);
	border: 5px var(--text) solid;
	border-radius: 5px;
	color: var(--text);
	text-transform: uppercase;
	font-weight: 700;
}

#buttonStart {
	width: 30vw;
}

.buttonActive {
	background-color: var(--text);
	color: var(--bg);

}

#scoreInfo {
	display: none;
}

#buttonsControlLeft {
	display: none;
}

#buttonsControlCenter {
	display: none;
}

#buttonsControlRight {
	display: none;
}

.snakeHead {

	background-color: var(--snakeHead);
}

.snakeBody {

	background-color: var(--snakeBody);
}

.food {
	background-color: var(--food);
}