@font-face {
	font-family: "Start2P"; 
	src: url("./fonts/PressStart2P-Regular.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

:root {
	/*COLOR*/
	--bg: #232323;
	--text: #909079;
	--line: #909079;

	--snakeHead: #B6FF00;
	--snakeBody: #61EAA0;
	--food: #980B10;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	touch-action: manipulation; /*feat: off zoom for ios*/
}

html, body {
	-webkit-text-size-adjust: none; /*Отключает масштабирование текста в горизонтальной ориентации.*/

	background-color: var(--bg);
}

#containerGame {
	max-width: 100vw;
	min-height: 100vh;

	margin: 0 auto;

	font-family: "Start2P", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
}

.containerGameActive {
	position: fixed; /*fix: fixed page for smartphones*/
	width: 100vw;
	height: 100vh;
}

#boxInfo {
	width: 100%;
	height: 10%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background-color: var(--bg);
}

#boxInfo p {
	font-size: 3vh;
	
}

#spanScore {
	color: var(--snakeBody);
}

#boxGame {
	margin: 0 auto;

	width: 100vw;
	max-width: 80vh;

	background-color: var(--bg);
}

.boxGameActive {
	height: 100vw;
	max-height: 80vh;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

#demo {
	display: block;
	width: 100%;
	min-height: 80vh;	

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	overflow: auto;

	padding: 25px 5px;

	border: 5px var(--line) solid;
}

#splashScreen {
	/*width: 100%;
	position: relative;*/

	margin-top: 1em; /*fix for small screen*/
	color: var(--snakeHead);

	display: block;
}

#splashWord {
	/*position: absolute;

	-webkit-animation: moveWord 2s linear infinite alternate;
	animation: moveWord 2s linear infinite alternate;

	-webkit-transform-origin: top right;
	transform-origin: top right;*/

	font-size: 6vh;
}

/*@keyframes moveWord {
	0% {
		right: 0;

	}

	100% {
		-webkit-transform-origin: top right;
		transform-origin: top right;

		-webkit-transform: translateX(100%);
		transform: translateX(100%);

		right: 100%;
	}
}*/

#settings {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 2vh;

	/*border: 2px red solid;*/
}

#parSettings {
	font-size: 4vh;
	padding-top: 1vh;
	padding-bottom: 0.5vh;
	border-top: 5px var(--bg) solid;
	border-bottom: 5px var(--snakeHead) solid;

	transition: all 1.5s;
}

.settingsParActive {
	color: var(--snakeHead);
	border-top: 5px var(--snakeHead) solid !important;
	border-bottom: 5px var(--bg) solid !important;
}

#settingsValue {
	display: none;

	/*border: 2px greenyellow solid;*/
}

#settingsValue > * {
	padding-bottom: 2.5vh;
}

#settingsValue > div > p {
	padding-bottom: 1.0vh;

	font-size: 3vh;
}

.formSetting {
	margin: 0.5vh;
	padding: 0.5vh;
	margin-left: 0;


	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1em;

	border-left: 5px var(--snakeHead) solid;
}

.formSetting label {
	

	font-size: 2vh;
}

input[type='radio'],
label {
	cursor: pointer;
}

.formSetting input {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	outline: none;
}

.formSetting input[type=radio]:checked + label {
	color: var(--snakeBody);
}

#versionInfo {
	font-size: 1vh;
}

.squareEmpty {
	width: 5%;
	height: 5%; 

	/*border: 0.1em var(--line) solid;*/
}

.squareBorder {
	color: var(--bg);

	background-color: var(--line);
}

#boxControl {
	width: 100%;
	height: 10%;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	background-color: var(--bg);
}

#boxControl p {
	font-size: 3vh;
}

.button {
	min-width: 15vw;
	height: 8vh;

	background-color: var(--bg);
	border: 5px var(--text) solid;
	border-radius: 5px;
	font-family: "Start2P", sans-serif;
	font-size: 2.5vw;
	color: var(--text);
	text-transform: uppercase;
	font-weight: 700;
}

.buttonLeft {
	border-left-color: var(--snakeBody);
}
.buttonUp {
	border-top-color: var(--snakeBody);
}
.buttonDown {
	border-bottom-color: var(--snakeBody);
}
.buttonRight {
	border-right-color: var(--snakeBody);
}

#buttonStart {
	width: 30vw;
}

.buttonActive {
	background-color: var(--text);
	color: var(--bg);

}

.buttonControlActive {
	background-color: var(--snakeBody);

}

#scoreInfo {
	display: none;
}

#statusInfo {
	display: none;
}

#buttonsControlLeft {
	display: none;
}

#buttonsControlCenter {
	display: none;
}

#buttonsControlRight {
	display: none;
}

.snakeBody {

	background-color: var(--snakeBody);
}

.snakeHead {

	background-color: var(--snakeHead);
}

.food {

	background-color: var(--food);
}